<div class="card">
  <div class="card-body">
    <p class="text-right"><i class="fas fa-edit"></i> <%= link_to "edit task", edit_path %>
    <h1><%= @task.title %></h1>
    <hr>
      <%= @task.details %>
    <hr>
    <% completed_box = @task.completed ? "far fa-check-square" : "far fa-square" %>    
    <% completed_message = @task.completed ? "this task has been completed!" : "this task is still incomplete!" %>    
    <p><i class="<%= completed_box %>" ></i> <%= completed_message %></p>
    <hr>
    <p><i class="fas fa-arrow-circle-left"></i> <%= link_to "back to tasks", tasks_path %>
  </div>
</div>